.git
.github
.cache
.gocache
.gocache-temp
.gomodcache
.gopath
%%GOCACHE%%
%GOCACHE%
%TMP%
.local-tests
.tmp
_reports
web/node_modules
web/default/node_modules
web/classic/node_modules
web/default/dist
web/classic/dist
bin
build
logs
data
*.db
*.db-journal
*.exe
.env
